* {
	scroll-behavior: smooth;
}
html {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
}

.carousel-inner img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    margin-top: 0;
}

.card {
	/*height: 400px;*/
	height: 25rem;
	/*margin-bottom: 1.5em;*/
}

.card-text {
	height: 3rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card .card-text {
}

.card:hover {
	box-shadow: 2px 2px 8px 5px lightgrey !important;
}

.card > img {
	height: 55%;
	object-fit: cover;
	transition: transform 1.2s;
  /*transform-style: preserve-3d;*/
}

.card:hover > img {
	transform: rotateY(360deg);
}

.card h4 {
	font-weight: 550;
}

#main-carousel {
	position: relative;
}

#main-carousel #central-name {
	font-size: 2rem;
	padding: 1rem;
	/*font-family: 'Lalezar', cursive;*/
}

#main-carousel #btn-register{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

#btn-register a {
	box-shadow: 2px 2px 6px black;
	animation: mover 1s infinite  alternate;
}

#carousel-link {
	pointer-events: none;
}
/*BUTTON ANIMATION*/
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-4px); }
}

footer h5 {
	padding: 10px 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

footer hr {
	background-color: lightgrey;
}

#contact-info > div {
	padding-left: 3.5rem;
}

footer #center-name {
	font-size: 1.4rem;
	margin: 0;
	padding: 10px 0;
	font-weight: 600;
}

footer #copyright {
	font-size: 0.7rem;
}

@media (max-width: 700px) {
	.card {
		height: auto;
		margin-bottom: 1rem;
	}

	.carousel-inner img {
		height: auto;
	}

	#central-name {
		display: none;
	}

	#btn-register {
		display: none;
	}
	footer #center-name {
		font-size: 1rem;
	}
}