* {
	box-sizing: border-box;
}

.container{
	border:2px solid grey;
	text-align:center;

	/*height:440px;*/
	height: 100%;
	width:400px;
	border-radius: 1em;
}
body{
	padding-top: 3.2rem;
	height: 100%;
	background-image: url('/assets/img/login_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: center; */
}
h1{
	margin:auto;
}
.row{
	height:90px;
	width:396px;
	background-color:paleturquoise;
	border-radius: 1em 1em 0 0;
}
.footer p:nth-child(2) {
	font-size: 1.2rem;
}
#toast-container > div {
	opacity:1;
}

@media (max-width: 768px) {
	html {
		width: initial;
		height: initial;
	}
	body {
		margin-top: 2rem;
		width: initial;
		height: initial;
		-webkit-background-size: auto;
		background: #C9D6FF;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(right, #E2E2E2, #C9D6FF);
		background: -o-linear-gradient(right, #E2E2E2, #C9D6FF);
		background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	.container {
		width: 80%;
		height: initial;
		/*margin: 0 2rem;*/
	}
	.row {
		width: initial;
		height: initial;
		padding: 0.8rem;
	}
	#register-link {
		font-size: 0.9rem;
		margin-bottom: 0.4rem;
	}
	#register-link + p > a {
		font-size: 1rem;
	}
}

@media (max-width: 342px) {
	#register-link a {
		display: block;
		font-size: .8rem;
	}
}