* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

#left-sidebar {
	margin-top: 3.5em;
	height: 100%;
}

#left-sidebar a {
	/*background-color: #343A40;*/
	color: #fff;
	text-decoration: none;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

#table-student > tbody > tr > td:first-child {
	width: 9em;
	text-align: right;
	font-weight: 500;
}

#table-student > tbody > tr > td:last-child {
	padding-left: 0.7em;
}

.list-group .empty-list-group-item:hover {
	background-color: inherit !important;
	border: inherit !important;
}

#toast-container > div {
    opacity:1;
}